img {
  width: 100%;
  height: 100%;
}
.headerBgg {
    background: url(./Images/mv-pm-sp.jpg)50% 0% no-repeat fixed;
    background-size: contain;
    width: 100%;
    max-height: 150vh;
    position: relative;
}
.nsLogo {
  width: 80px;
}
.menu {
  width: 70px;
  margin-right: 5px;
  padding: 1px;
  padding-top: 0px;
  border: 1px solid #023bae;
  background-clip: content-box;
  z-index: 9;
  position: fixed;
  right: 0;
  top: 0;
}
.logo{
    width: 75%;
    text-align: center;
    margin: 0px auto;
    margin-top: -55px;
}
.music{
    margin-left: 5%;
    margin-top: 380px;
}

.saleBalloon{
    background: url(./Images/sales-medal_bg.png);
    background-size: cover;
    width: 140px;
    height: 140px;
    color: rgb(245, 230, 146);
    flex-direction: column;
    margin-right: 5%;
}
.playMusic div{
    width: 70px;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 9em;
    color: #fff;
    text-align: center;
}
.playMusic span{
    border-right: .3px solid rgb(212, 212, 212);
    margin: 0px 10px;
}
/* ----header---- */

.seceondSection{
    width: 100%;
    background: url(./Images/page_bg-t-c.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.notoSerifTC{
    font-family: 'Noto Serif TC', serif;
}

.buyNow{
    background: linear-gradient(
        135deg
        , #e60012 0%, #eb7833 50%, #e60012 100%)50% 50% no-repeat;
    background-clip: content-box;
    width: 80%;
    height: 50px;
    padding: 20px;
    border: 1px solid #e25b07;
    box-sizing: content-box !important;
    font-size: 2rem;
    position: relative;
}
.buyNow::after{
    content: url(Images/arrow_ic-r-w.png);
    position: absolute;
    right: 10px;
}

.traialBg{
    width: 80%;
    height: 250px;
    background: url(./Images/traial_bg-w.png) no-repeat;
    background-size: 100% 100%;
}
.youtueBox{
    width: 84%;
    height: 220px;
    background: url(./Images/news_thumb_tu.jpg) no-repeat;
    background-size: cover;
    border: 20px solid transparent ;
    padding: 1px;
    /* border-image: url(./Images/sitenav_flame-m.png) 20 stretch; */
    overflow: hidden;
    /* z-index: 6; */
    box-sizing: content-box;
}

/* 六角形 */
.Hexagon{
    position: relative;
}
.filmText{
    position: absolute;
    top: 10px;
    left: 30%;
    font-size: 1.2rem;
}

.iconImg{
    width: 50px;
    margin: 10px;
}

.cardgroup{
    width: 100%;
    overflow: hidden;
}


.newImformation{
    background: url(./Images/sec-ttl_bg-sp.png)no-repeat;
    background-size: contain;
    width: 80%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.slider{
    width: 70%;
    height: 8px;
    background-color: #051c4b;
    position: relative;
    border: 1px solid #023bae;
    border-radius: 5em;
}

.slidebar{
    height: 20px;
    width: 40px;
    position: absolute;
    top: -12px;
}

.banner{
    width: 80%;
    display: flex;
    background-color: #010247;
    background-clip: content-box;
    box-sizing: content-box;
    padding: 2px;
    border: 3px solid #010247;
    /* background: url(./Images/elem_pt.png) no-repeat; */
}
.bannerimg{
    width: 150px;
    height: auto;
}
.bannerText{ 
    background: url(./Images/elem_pt.png) no-repeat;
    background-position: 90px;
    background-size: 70%;
    height: 100%;
}
